{% extends "base.html" %}

{% block content %}

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-10">
      <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900">
        Matches {{ player.first_name }} {{ player.last_name }} played in</h1>
    </div>

    <div class="lg:w-3/3 w-full mx-auto overflow-auto">
      <table class="table-auto w-full text-left whitespace-no-wrap">
        <thead>
          <tr>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl">Player Team</th>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Opposition's Team</th>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Scoreline</th>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Date</th>
            <th class="w-10 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tr rounded-br"></th>
          </tr>
        </thead>
        {% for stat in stats %}
        <tbody>
          <tr>
          <td class="px-4 py-3">
              <a href="{% url 'matches:match-detail' stat.match.slug %}">
                  {{ stat.match.home_team }}
              </a>
          </td>
          <td class="px-4 py-3">
              <a href="{% url 'matches:match-detail' stat.match.slug %}">
                  {{ stat.match.away_team }}
              </a>
          </td>
          <td class="px-4 py-3">
              {{ stat.match.result.score_hometeam }} : {{ stat.match.result.score_awayteam }}</td>
          <td class="px-4 py-3 text-lg text-gray-900">{{ stat.match.match_date }}</td>
          <td class="px-4 py-3 text-lg text-gray-900">
            <a class="px-4 py-3 text-lg underline text-blue-900" href="{% url 'matches:match-detail' stat.match.slug %}">View</a>
          </td>
          </tr>
        </tbody>
        {% endfor %}

        {% if custom_qs %}
          {% for stat in custom_qs %}
          <tbody>
            <tr>
            <td class="px-4 py-3">
                <a href="{% url 'custommatches:custommatch-detail' stat.custom_match.slug %}">
                    {{ stat.custom_match.user_team }}
                </a>
            </td>
            <td class="px-4 py-3">
                <a href="{% url 'custommatches:custommatch-detail' stat.custom_match.slug %}">
                    {{ stat.custom_match.versus_team }}
                </a>
            </td>
            <td class="px-4 py-3">
                {{ stat.custom_match.custommatchresult.score_userteam }} : {{ stat.custom_match.custommatchresult.score_versusteam }}</td>
            <td class="px-4 py-3 text-lg text-gray-900">{{ stat.custom_match.match_date }}</td>
            <td class="px-4 py-3 text-lg text-gray-900">
              <a class="px-4 py-3 text-lg underline text-blue-900" href="{% url 'custommatches:custommatch-detail' stat.custom_match.slug %}">View</a>
            </td>
            </tr>
          </tbody>
          {% endfor %}
        {% endif %}
      </table>
    </div>

  </div>
</section>

{% endblock content %}
