{% extends "base.html" %}
{% load tailwind_filters %}
{% block content %}

<div class="container p-4 mx-auto">
  <a class="hover:text-blue-500 mt-3" href="{% url 'matches:match-list'%}"> Go back to match list</a>

  <div class="py-5 border-t border-gray-200">
    <h1 class="text-2xl font-bold mb-4">Create a new match</h1>
  </div>

  
  <form method="post" class="max-w-sm mx-auto">
    {% csrf_token %}
    <label><input type="radio" name="match_type" value="home" hx-get="{% url 'matches:update-teams' %}" hx-trigger="change" hx-target="#team-fields" checked> Home Game</label>
    <label><input type="radio" name="match_type" value="away" hx-get="{% url 'matches:update-teams' %}" hx-trigger="change" hx-target="#team-fields"> Away Game</label>
    <div id="team-fields" hx-swap="innerHTML">
      {% include 'matches/partials/team_fields.html' %}
    </div>
    <div class="mb-4">
      <label for="id_venue" class="block text-gray-700 text-sm font-bold mb-2">Venue</label>
      {{ form.venue }}
    </div>
    <div class="mb-4">
      <label for="id_match_date" class="block text-gray-700 text-sm font-bold mb-2">Match Date</label>
      {{ form.match_date }}
    </div>

    <div class="mt-6">
      <button type="submit" class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
        Save Match
      </button>
    </div>
  </form>

</div>

{% endblock content %}