{% extends "base.html" %}
{% load tailwind_filters %}
{% block content %}

<div class="container p-4 mx-auto">
  <div class="flex justify-center mt-5 mb-5">
    <a class="hover:text-blue-500 mt-3" href="{% url 'matches:match-list'%}"> Go back to match list</a>
  </div>

  <div class="flex justify-center py-5">
    <h1 class="text-2xl font-bold mb-4">Create a new match</h1>
  </div>

  <div class="max-w-lg mx-auto mb-3">
    <label for="team_id" class="block text-sm font-medium text-black">Select Team:</label>
    <div class="mt-1">
      <select name="team_id" id="team_id" class="form-select block w-full pl-3 pr-10 py-2 text-base border-gray-300 rounded-md" hx-get="{% url 'matches:update-teams' %}" hx-target="#team-fields" hx-trigger="change">
        {% for team in user_teams %}
          <option value="{{ team.id }}" {% if team == user_team %}selected{% endif %}>{{ team.team_name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  
  <form method="post" class="max-w-sm mx-auto">
    {% csrf_token %}
    <label>
      <input type="radio" name="match_type" id="home" value="home" {% if match_type == 'home' %}checked{% endif %} hx-get="{% url 'matches:update-teams' %}" hx-trigger="change" hx-target="#team-fields"> Home Game
    </label>
    <label>
      <input type="radio" name="match_type" id="away" value="away" {% if match_type == 'away' %}checked{% endif %} hx-get="{% url 'matches:update-teams' %}" hx-trigger="change" hx-target="#team-fields"> Away Game
    </label>

    <div id="team-fields" hx-swap="innerHTML">
      {% include 'matches/partials/team_fields.html' %}
    </div>
    
    <div class="mb-4">
      <label for="id_venue" class="block text-gray-700 text-sm font-bold mb-2">{% comment %}Venue{% endcomment %}</label>
      {{ form.venue|as_crispy_field }}
    </div>
    <div class="mb-4">
      <label for="id_match_date" class="block text-gray-700 text-sm font-bold mb-2">{% comment %}Match Date{% endcomment %}</label> 
      {{ form.match_date|as_crispy_field }}
    </div>

    <div class="mt-6">
      <button type="submit" class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
        Save Match
      </button>
    </div>
  </form>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      document.getElementById('team_id').addEventListener('change', function() {
        document.getElementById('home').checked = true;
      });
    });
  </script>

</div>

{% endblock content %}
