{% extends "base.html" %}

{% block content %}

<section class="text-gray-600 body-font">
  <div class="container p-6 mx-auto">
    <div class="flex flex-col text-center w-full mb-10">
      <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900">Games</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
        Fixtures and Match Results</p>
    </div>

    <div class="mb-5 border-b">
      <a
        class="text-blue-500 hover:text-blue-500" 
        href="{% url 'matches:match-create' %}"
        >Create a new match</a
      >
    </div>

    <div class="lg:w-3/3 w-full mx-auto overflow-auto">
      <div class="flex flex-col w-full mb-5">
        <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900">Results</h1>
      </div>

      <table class="table-auto w-full text-left whitespace-no-wrap">
        <thead>
          <tr>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl">Home team</th>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Away team</th>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Scoreline</th>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Date</th>
            <th class="w-10 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tr rounded-br"></th>
          </tr>
        </thead>
        {% for result in results %}
        <tbody>
          <tr>
          <td class="px-4 py-3">
              <a href="{% url 'matches:match-detail' result.match.slug %}">
                  {{ result.match.home_team }}
              </a>
          </td>
          <td class="px-4 py-3">
              <a href="{% url 'matches:match-detail' result.match.slug %}">
                  {{ result.match.away_team }}
              </a>
          </td>
          <td class="px-4 py-3">
              {{ result.score_hometeam }} : {{ result.score_awayteam }}</td>
          <td class="px-4 py-3 text-lg text-gray-900">{{ result.match.date|date:"F d, Y, h:i A" }}</td>
          <td class="px-4 py-3 text-lg underline text-blue-900">
            <a href="{% url 'matches:match-detail' result.match.slug %}">View</a>
          </td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
    </div>

    {% if fixtures %}
      <div class="lg:w-3/3 w-full mx-auto mb-10 overflow-auto">
        <div class="flex flex-col w-full mt-20 mb-5">
          <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900">Fixtures</h1>
        </div>
        <table class="table-auto w-full text-left whitespace-no-wrap">
          <thead>
            <tr>
              <th class="px-3 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl">Home team</th>
              <th class="px-3 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Away team</th>
              <th class="px-3 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Date</th>
              <th class="px-3 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tr rounded-br"></th>
            </tr>
          </thead>
          {% for fixture in fixtures %}
          <tbody>
            <tr>
            <td class="px-3 py-3">
                <a href="{% url 'matches:match-detail' fixture.slug %}">
                    {{ fixture.home_team }}
                </a>
            </td>
            <td class="px-3 py-3">
                <a href="{% url 'matches:match-detail' fixture.slug %}">
                    {{ fixture.away_team }}
                </a>
            </td>
            <td class="px-3 py-3 text-lg text-gray-900">{{ fixture.date|date:"F d, Y, h:i A" }}</td>
            <td class="px-3 py-3 text-right text-lg underline text-blue-900">
              <a href="{% url 'matches:match-event-create' fixture.slug %}">Add event(s)</a>
            </td>
            </tr>
          </tbody>
          {% endfor %}
        </table>
      </div>
    {% endif %}

  </div>
</section>

{% endblock content %}
