{% extends "base.html" %}

{% block content %}

<section class="text-gray-600 body-font">
  <div class="container px-5 py-6 mx-auto">
    <div class="flex flex-col text-center w-full mb-10">
      <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900">Teams</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Teams, Organisations and Coaches</p>
    </div>

    <form class="py-3">
      <label for="searchBox">Search:</label><br>
      <input id="search-box" 
            type="text"
            placeholder="Enter team" 
            name="search"
            hx-get="{% url 'teams:team-list' %}"
            hx-trigger="keyup delay:500ms"
            hx-target="#fixture-list"/>
    </form>
        
    <div id="teams-list" class="lg:w-3/3 w-full mx-auto overflow-auto">
      <table class="table-auto w-full text-left">
        <thead>
          <tr>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl">Team</th>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Short name</th>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Coach</th>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Organisation</th>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tr rounded-br"></th>
          </tr>
        </thead>
        {% for team in page_obj %}
        <tbody>
          <tr>
          <td class="px-4 py-3">
              <a href="{% url 'teams:team-detail' team.pk %}">{{ team.team_name }}
              </a>
          </td>
          <td class="px-4 py-3">
              <a href="#">{{ team.short_team_name }}
              </a>
          </td>
          <td class="px-4 py-3">{{ team.coach.first }}</td>
          <td class="px-4 py-3 text-lg text-gray-900">{{ team.organisation }}</td>
          <td class="px-4 py-3 text-right text-lg underline text-blue-900">
            <a href="{% url 'teams:team-detail' team.pk %}">View team</a>
          </td>
          </tr>
        </tbody>
        {% endfor %}
      </table>

      <div class="pagination my-4 text-center">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <span class="text-blue-700">
                <a href="?page=1">&laquo; First</a>
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            </span>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
            <span class="text-blue-700">
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
            </span>
            {% endif %}
        </span>
      </div>
    </div>

  </div>
</section>



{% endblock content %}
