{% extends "base.html" %}

{% block content %}

<section class="text-gray-600 body-font">
  <div class="container px-5 py-6 mx-auto">
    <div class="flex flex-col text-center w-full mb-10">
      <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900">Teams</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Teams, Organisations and Coaches</p>
    </div>

      
    <form class="max-w py-3 w-1/2">   
      <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only text-white">Search</label>
      <div class="relative">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
              <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
              </svg>
          </div>
          <input type="text" id="search-box" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-gray-500 focus:border-gray-400 bg-gray-400 border-gray-500 placeholder-gray-800 text-black focus:ring-gray-500 focus:border-blue-500" placeholder="Search Team..." required name="search"
          hx-get="{% url 'teams:team-list' %}"
          hx-trigger="keyup delay:500ms"
          hx-target="#team-list"/>
          <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 bg-blue-600 dark:hover:bg-blue-700 focus:ring-blue-800" 
          >Search</button>
      </div>
    </form>
        
    <div id="team-list" class="lg:w-3/3 w-full mx-auto overflow-auto">
      <table class="table-auto w-full text-left">
        <thead>
          <tr>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl">Team</th>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Short name</th>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Coach</th>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Organisation</th>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tr rounded-br"></th>
          </tr>
        </thead>
        {% for team in page_obj %}
        <tbody>
          <tr>
          <td class="px-4 py-3">
              <a href="{% url 'teams:team-detail' team.pk %}">{{ team.team_name }}
              </a>
          </td>
          <td class="px-4 py-3">
              <a href="#">{{ team.short_team_name }}
              </a>
          </td>
          <td class="px-4 py-3">{{ team.coach.first }}</td>
          <td class="px-4 py-3 text-lg text-gray-900">{{ team.organisation }}</td>
          <td class="px-4 py-3 text-right text-lg underline text-blue-900">
            <a href="{% url 'teams:team-detail' team.slug %}">View team</a>
          </td>
          </tr>
        </tbody>
        {% endfor %}
      </table>

      <div class="pagination my-4 text-center">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <span class="text-blue-700">
                <a href="?page=1">&laquo; First</a>
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            </span>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
            <span class="text-blue-700">
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
            </span>
            {% endif %}
        </span>
      </div>
    </div>

  </div>
</section>



{% endblock content %}
